* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    object-fit: cover;
}

body {
    background: hsl(226, 43%, 10%);
    font-family: 'Rubik', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}

.tracker-dashboard {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 90%;
}

.profile-card {
    background: hsl(235, 46%, 20%);
    color: white;
    border-radius: 0.6rem;
}

.profile-card .profile-info {
    display: flex;
    background: hsl(246, 80%, 60%);
    align-items: center;
    justify-content: center;
    gap: 7%;
    padding: 1.2rem;
    border-radius: 0.6rem;
}

.profile-card .profile-info img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid white;
}

.profile-card .profile-info .profile-texts {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.profile-card .profile-info .profile-texts span:first-child {
    font-size: 0.8rem;
    color: hsl(236, 100%, 87%);
}

.profile-card .profile-info .profile-texts span:last-child {
    font-size: 1.2rem;
    color: hsl(236, 100%, 87%);
}

.profile-card .profile-duration {
    display: flex;
    justify-content: space-around;
    padding: 1.3rem;
    color: hsl(235, 45%, 61%);
}

.profile-card .profile-duration span {
    cursor: pointer;
}

.profile-card .profile-duration span:hover {
    color: white;
}

.activities {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.activities .activity-card {
border-radius: 1rem;
}

.activities .activity-card.work {
    background-color: hsl(15, 100%, 70%);
}

.activities .activity-card.play {
    background-color: hsl(195, 74%, 62%);
}

.activities .activity-card.study {
    background-color: hsl(348, 100%, 68%);
}
.activities .activity-card.exercise {
    background-color: hsl(145, 58%, 55%);
}
.activities .activity-card.social {
    background-color: hsl(264, 64%, 52%);
}
.activities .activity-card.self {
    background-color: hsl(43, 84%, 65%);
}

.activities .activity-card .activity-background {
    text-align: right;
    margin-right: 8px;
    height: 30px;
}


.activities .activity-card.work .activity-background {
    background: url('../images/icon-work.svg') no-repeat right;
}

.activities .activity-card.play .activity-background {
    background: url('../images/icon-play.svg') no-repeat right;
}

.activities .activity-card.study .activity-background {
    background: url('../images/icon-study.svg') no-repeat right;
}

.activities .activity-card.exercise .activity-background {
    background: url('../images/icon-exercise.svg') no-repeat right;
}

.activities .activity-card.activity-card.social .activity-background {
    background: url('../images/icon-social.svg') no-repeat right;
}

.activities .activity-card.activity-card.self .activity-background {
    background: url('../images/icon-self-care.svg') no-repeat right;
}


.activities .activity-card.work .activity-background img {
    width: 50px;
}

.activities .activity-card .activity-info {
    color: white;
    background: hsl(235, 46%, 20%);
    padding: 1.5rem;
    border-radius: 1rem;
}

.activities .activity-card .activity-info .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activities .activity-card .activity-info .title img {
    cursor: pointer;
}

.activities .activity-card .activity-info .title span:first-child {
    font-size: 18px;
}

.activities .activity-card .activity-info .info {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.activities .activity-card .activity-info .info span:first-child {
    font-size: 1.4rem;
    font-weight: 300;
}

@media (min-width: 992px) {
    .wrapper {
        margin: 0;
        height: 100vh;
    }

    .tracker-dashboard {
        flex-direction: row;
        justify-content: center;
        width: 60%;
    }

    .profile-card .profile-info {
        flex-direction: column;
        gap: 1.5rem;
        align-items: flex-start;
        padding-right: 5rem;
        padding-bottom: 3rem;
    }

    .profile-card .profile-duration {
        flex-direction: column;
        font-size: 0.8rem;
        gap: 0.4rem;
    }

    .profile-card .profile-info .profile-texts span:last-child {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .activities .activity-card {
        width: 30%;
        cursor: pointer;
    }

    .activities .activity-card .activity-background {
        height: 34px;
    }

    .activities .activity-card .activity-info .info {
        flex-direction: column;
        gap: 0.3rem;
    }

    .activities .activity-card .activity-info:hover {
        background-color: hsl(235, 45%, 61%);
    }

    .activities .activity-card .activity-info .title span:first-child {
        font-size: 0.8rem;
    }

    .activities .activity-card .activity-info .title img {
        width: 10%;
    }

    .activities .activity-card .activity-info .info span:first-child {
        font-size: 1.7rem;
    }

    .activities .activity-card .activity-info .info span:last-child {
        font-size: 10px;
        color: hsl(236, 100%, 87%);
    }

    


    .activities {
        flex-direction: row;
        flex-wrap: wrap;
    }
}